<div class="body">
  <div class="container">
    <h2>Change Password</h2>
    <form (ngSubmit)="changePassword()">
      <div class="form-group">
        <label for="email">Email Id :</label>
        <input type="email" id="email" [(ngModel)]="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required>
      </div>
      <button type="submit">Change Password</button>
      <div class="message">{{message}}</div>
    </form>
  </div>
</div>