<!-- <p>contact-us works!</p> -->
<div class="contact py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
        <!-- tittle heading -->
        <h2 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3"
            style="border-bottom: 2px solid black; padding-bottom: 5px;">
            <span>C</span>ontact
            <span>U</span>s
        </h2>

        <!-- //tittle heading -->
        <div class="row contact-grids agile-1 mb-5">
            <div class="col-sm-4 contact-grid agileinfo-6 mt-sm-0 mt-2">
                <div class="contact-grid1 text-center">
                    <div class="con-ic">
                        <i class="fa fa-map-marker-alt rounded-circle fa-beat" style="color: red;"></i>
                    </div>
                    <h3 class="font-weight-bold mt-sm-4 mt-3 mb-3">Address</h3>
                    <p style="font-weight: bold;color:black;">SITA MAHALAKSHMI DARLANKA
                        <label style="font-weight: bold;color:black;"><a style="font-weight: bold;color:black;"
                                href="https://www.google.com/maps/place/Digital+Academy+-+Ameerpet+-+Telangana/@17.4352423,78.449478,17z/data=!3m1!4b1!4m6!3m5!1s0x3bcb90c82ec515bb:0xbe7c9b93cc5c862f!8m2!3d17.4352423!4d78.4520529!16s%2Fg%2F11f2vb5857?entry=ttu">206,2nd
                                Meridian Plaza,Greenlands,Ameerpet,Hyderabad,Telangana. </a></label>
                    </p>
                </div>
            </div>
            <div class="col-sm-4 contact-grid agileinfo-6 my-sm-0 my-4">
                <div class="contact-grid1 text-center">
                    <div class="con-ic">
                        <i class="fa fa-phone rounded-circle fa-shake" style="color: green;"></i>
                    </div>
                    <h3 class="font-weight-bold mt-sm-4 mt-3 mb-3">Call Us</h3>
                    <p style="font-weight: bold;color:black;"><a style="font-weight: bold;color:black;"
                            href="tel:+1800 120 1193">7275259079 ,9876543210</a>


                    </p>
                </div>
            </div>
            <div class="col-sm-4 contact-grid agileinfo-6">
                <div class="contact-grid1 text-center">
                    <div class="con-ic">
                        <i class="fa-solid fa-envelope fa-bounce"
                            style="--fa-bounce-start-scale-x: 1;--fa-bounce-start-scale-y: 1;--fa-bounce-jump-scale-x: 1;--fa-bounce-jump-scale-y: 1;--fa-bounce-land-scale-x: 1;--fa-bounce-land-scale-y: 1;--fa-bounce-rebound: 0; color: blue;"></i>

                    </div>

                    <h3 class="font-weight-bold mt-sm-4 mt-3 mb-3">Email</h3>
                    <p>
                        <a href="mailto:wecare&#64;edubridgeindia.in" style="color: black;">
                            <span>sita&#64;gmail.com</span>
                        </a>

                    </p>
                </div>
            </div>
        </div>