<main>
  <div class="intro">
    <marquee direction="left" width="660px" behavior="sliding"><b> Welcome to Airline Management System</b>
    </marquee>
    <p>Looking for flights??</p>
  </div>
</main>
<div class="explore-menu-section pt-5 pb-5" id="exploreMenuSection">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="menu-section-heading">EXPLORE PLACES</h2>
      </div>
      <div class="col-12 col-md-6 col-lg-4 pointer">
        <div class="shadow menu-item-card p-3 mb-3">
          <img src="../../assets/HomePage/goa.png" class="menu-item-image w-100" />
          <h2 class="menu-card-title">GOA</h2>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 pointer">
        <div class="shadow menu-item-card p-3 mb-3">
          <img src="../../assets/HomePage/mysore.png" class="menu-item-image w-100" />
          <h2 class="menu-card-title">MYSORE</h2>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 pointer">
        <div class="shadow menu-item-card p-3 mb-3">
          <img src="../../assets/HomePage/agra.png" class="menu-item-image w-100" />
          <h2 class="menu-card-title">AGRA</h2>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 pointer">
        <div class="shadow menu-item-card p-3 mb-3">
          <img src="../../assets/HomePage/assam.png" class="menu-item-image w-100" />
          <h2 class="menu-card-title">ASSAM</h2>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 pointer">
        <div class="shadow menu-item-card p-3 mb-3">
          <img src="../../assets/HomePage/chennai.png" class="menu-item-image w-100" />
          <h2 class="menu-card-title">CHENNAI</h2>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 pointer">
        <div class="shadow menu-item-card p-3 mb-3">
          <img src="../../assets/HomePage/delhi.png" class="menu-item-image w-100" />
          <h2 class="menu-card-title">DELHI</h2>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 pointer">
        <div class="shadow menu-item-card p-3 mb-3">
          <img src="../../assets/HomePage/hyderbad.png" class="menu-item-image w-100" />
          <h2 class="menu-card-title">HYDERABAD</h2>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 pointer">
        <div class="shadow menu-item-card p-3 mb-3">
          <img src="../../assets/HomePage/jaipur.png" class="menu-item-image w-100" />
          <h2 class="menu-card-title">JAIPUR</h2>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 pointer">
        <div class="shadow menu-item-card p-3 mb-3">
          <img src="../../assets/HomePage/jammu.png" class="menu-item-image w-100" />
          <h2 class="menu-card-title">JAMMU AND KASHMIR</h2>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 pointer">
        <div class="shadow menu-item-card p-3 mb-3">
          <img src="../../assets/HomePage/kerala.png" class="menu-item-image w-100" />
          <h2 class="menu-card-title">KERALA</h2>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 pointer">
        <div class="shadow menu-item-card p-3 mb-3">
          <img src="../../assets/HomePage/mumbai.png" class="menu-item-image w-100" />
          <h2 class="menu-card-title">MUMBAI</h2>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 pointer">
        <div class="shadow menu-item-card p-3 mb-3">
          <img src="../../assets/HomePage/oddisha.png" class="menu-item-image w-100" />
          <h2 class="menu-card-title">ODDISHA</h2>
        </div>
      </div>