<div class="about-page">
    <div class="about-section">
        <!-- <h1 style="background-color: rgb(249, 229, 254);">About Us </h1> -->
    </div>
    <div class="welcome py-sm-5 py-4">
        <div class="container py-xl-4 py-lg-2">
            <!-- //tittle heading -->
            <div class="row">
                <h1 class="text-left" style="color:rgb(72, 16, 85);">About Airline Management</h1>
                <div class="col-lg-6 welcome-left">
                    <h3 class="my-sm-3 my-2">The Airline Management System is a comprehensive online platform where
                        customers can book flights, manage their
                        bookings, and access a wide range of services with ease. Through a web browser, customers can
                        search for flights by
                        destination, date, and airline, add them to their itinerary, and complete the booking process
                        using secure payment
                        methods. Users can log in with their account details, or new customers can quickly create an
                        account by providing their
                        name, contact information, and travel preferences.

                        To access the Airline Management System, customers need only a computer or mobile device with an
                        internet connection.
                        After logging in, they can explore available flights, check their booking status, and make
                        payments using credit cards,
                        debit cards, or online banking options. If a booking has not yet been confirmed, customers may
                        cancel or modify it. The
                        system ensures prompt communication with airlines to manage any changes or cancellations
                        efficiently.

                        In addition to booking flights, the platform offers features such as seat selection, meal
                        preferences, and baggage
                        options, allowing customers to personalize their travel experience. Refunds for canceled
                        bookings will be processed and
                        credited back to the customer's original payment method, whether it's a credit or debit card.
                    </h3>
                </div>

                <div class="col-lg-6 welcome-right-top mt-lg-0 mt-sm-5 mt-4">
                    <!-- <img src="../../../assets/Airport2.jpg" class="img-fluid" alt=" "><br>-->
                    <!-- <img src="../../../assets/Airline4.jpg" class="img-fluid" alt=" "><br>-->
                    <img src="../../../assets/airport3.jpg" class="img-fluid" alt=" ">
                </div>


                <div class="welcome-left">
                    <br><br>
                    <h1 class="text-left" style="color:rgb(72, 16, 85);">&ensp;What We Do ?</h1>
                    <h3 class="my-sm-3" style="margin-left:15px;">The Airline Management System provides a seamless
                        online booking experience for customers through an intuitive web
                        interface. Users can create and sign in to their accounts, search for flights, and complete
                        bookings with ease. The
                        system also enables users to manage their travel itineraries, select seats, and customize their
                        travel preferences.

                        Administrators have access to additional features, allowing them to manage flight details,
                        customer information, and
                        booking confirmations. This ensures that the platform runs smoothly, providing users with the
                        best possible experience.
                    </h3>
                </div>


                <div class="welcome-left">
                    <br><br>
                    <h1 class="text-left" style="color:rgb(72, 16, 85);">&ensp;Our Vision</h1>
                    <h3 class="my-sm-3" style="margin-left:15px;">
                        <li>To offer a convenient way to book flights from the comfort of your home or on the go.
                        </li>
                        <li>To provide a wide range of travel options and personalized services to enhance your journey.
                        </li>
                        <li>To ensure a hassle-free booking process with secure payment options and responsive
                            customer support.</li>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>