<footer class="footer">
    <p class="footer-text">Contact Us | Terms & Conditions | Privacy Policy | Social Media</p>
    <div class="copy">&copy; 2024 Airline Management System. All Rights Reserved.</div>
    <div class="bottom-links">
        <div class="links">
            <!-- <span class="social-title">Social Links</span>-->
            <a href="https://www.facebook.com/" class="social-icon" target="_blank"><i
                    class="fa-brands fa-facebook"></i></a>
            <a href="https://www.twitter.com/" class="social-icon" target="_blank"><i
                    class="fa-brands fa-twitter"></i></a>
            <a href="https://www.instagram.com/" class="social-icon" target="_blank"><i
                    class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
</footer>